@import "../../../../scss/vars";

.filter {
  display: flex;
  .choice {
    margin-right: 30px;
    padding: 5px 15px;
    background-color: $backgroundColorGray;
    border-radius: 20px;
    color: $black;
    cursor: pointer;
  }
  .active {
    color: $whiteText;
    background-color: $black;
  }
}
