@import "../../../scss/vars.scss";
.bodySearch {
  position: relative;
  svg {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 12px;
    left: 10px;
  }
  input {
    padding: 10px 10px 10px 30px;
    border: 1px solid $black;
    border-radius: 20px;
  }
}
